:host {
  display: block;
  min-width: 0;
}

.eventos-list__grid {
  grid-template-columns:
    minmax(125px, 1.2fr) minmax(90px, 0.75fr) minmax(120px, 1.1fr)
    minmax(130px, 1.1fr) minmax(96px, 0.75fr) 68px;
}
