<app-admin-list
  title="Autores"
  itemLabel="autores"
  emptyMessage="No hay autores que coincidan con la búsqueda."
  searchPlaceholder="Buscar autores..."
  [searchFields]="searchFields"
  initialSearchField="fullName"
  [isLoading]="isLoading"
  [canCreate]="isAdmin"
  createLabel="Nuevo autor"
  [visibleItems]="autores.length"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  (queryChange)="queryChange.emit($event)"
  (createNew)="createNew.emit()"
>
  <div adminListHeader class="autores-list__grid autores-list__header">
    <span>Autor</span>
    <span>ID de MongoDB</span>
    <span>Estado administrativo</span>
    <span class="autores-list__actions-heading">Acciones</span>
  </div>

  <div adminListRows>
    <article
      *ngFor="let autor of autores; trackBy: trackByAutorId"
      class="autores-list__grid autores-list__row"
      [class.autores-list__row--selected]="isSelected(autor)"
      [class.autores-list__row--deleted]="autor.IsDeleted"
      tabindex="0"
      role="button"
      (click)="onSelect(autor)"
      (keydown)="onRowKeydown($event, autor)"
    >
      <strong class="autores-list__name">{{ autor.fullName || 'Sin nombre' }}</strong>
      <code class="autores-list__id" data-label="ID">{{ autor._id || '-' }}</code>

      <span
        class="autores-list__status"
        [class.autores-list__status--deleted]="autor.IsDeleted"
      >
        {{ autor.IsDeleted ? 'Desactivado' : 'Activo' }}
      </span>

      <button
        *ngIf="isAdmin"
        type="button"
        class="autores-list__delete"
        title="Eliminar autor definitivamente"
        aria-label="Eliminar autor definitivamente"
        (click)="onPermanentDelete($event, autor)"
      >
        Eliminar
      </button>
    </article>
  </div>
</app-admin-list>
