<dialog #dialog class="bubble" title="Add User">
  <div id="content">
    <div id="title">
      <p>Agregar Post por isbn</p>
    </div>
    <div class="row">
      <p>ISBN:</p>
      <input type="text" [(ngModel)]="isbn" />
    </div>
    <div class="row">
      <p>Description:</p>
      <input type="text" [(ngModel)]="description" />
    </div>
    <div class="row">
      <p>Status:</p>
      <input type="text" [(ngModel)]="status" />
    </div>
    <div class="row">
      <p>ImageUrl:</p>
      <input type="text" [(ngModel)]="imageUrl" />
    </div>
    <div class="row">
      <p>ownerId:</p>
      <input type="text" [(ngModel)]="ownerId" />
    </div>
    <div class="row">
      <p>Price:</p>
      <input type="number" [(ngModel)]="price" />
    </div>

    <div id="bottom">
      <button (click)="onCall()" class="libro-form__button libro-form__button--primary">
        Save
      </button>
    </div>
  </div>
</dialog>
<button (click)="OpenDialog()" class="libro-form__button libro-form__button--primary">
  Agregar Libro con ISBN
</button>
