<app-admin-list
  title="Librerías"
  itemLabel="librerías"
  emptyMessage="No hay librerías que coincidan con la búsqueda."
  searchPlaceholder="Buscar librerías..."
  [searchFields]="searchFields"
  initialSearchField="name"
  [isLoading]="isLoading"
  [canCreate]="isAdmin"
  createLabel="Nueva librería"
  [visibleItems]="librerias.length"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  (queryChange)="queryChange.emit($event)"
  (createNew)="createNew.emit()"
>
  <div adminListHeader class="librerias-list__grid librerias-list__header">
    <span>Librería</span>
    <span>Dirección</span>
    <span>ID de MongoDB</span>
    <span>Estado administrativo</span>
    <span class="librerias-list__actions-heading">Acciones</span>
  </div>

  <div adminListRows>
    <article
      *ngFor="let libreria of librerias; trackBy: trackByLibreriaId"
      class="librerias-list__grid librerias-list__row"
      [class.librerias-list__row--selected]="libreria._id === selectedId"
      [class.librerias-list__row--deleted]="libreria.IsDeleted"
      tabindex="0"
      role="button"
      (click)="onSelect(libreria)"
      (keydown)="onRowKeydown($event, libreria)"
    >
      <strong class="librerias-list__name">{{ libreria.name || 'Sin nombre' }}</strong>
      <span class="librerias-list__cell" data-label="Dirección">
        {{ libreria.address || '-' }}
      </span>
      <code class="librerias-list__id" data-label="ID">{{ libreria._id || '-' }}</code>

      <span
        class="librerias-list__status"
        [class.librerias-list__status--deleted]="libreria.IsDeleted"
      >
        {{ libreria.IsDeleted ? 'Desactivada' : 'Activa' }}
      </span>

      <button
        *ngIf="isAdmin"
        type="button"
        class="librerias-list__delete"
        title="Eliminar librería definitivamente"
        aria-label="Eliminar librería definitivamente"
        (click)="onPermanentDelete($event, libreria)"
      >
        Eliminar
      </button>
    </article>
  </div>
</app-admin-list>
