.main {
  display: flex;
  flex-direction: column;
  padding: 8pt;
}

.tabla {
  border: solid;
}
td,
th {
  border: 1px solid #dfa196;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dfa196;
}

.side {
  background-color: orange;
}
.side::nth-child(even) {
  background-color: orangered;
}
