<app-admin-list
  title="Valoraciones"
  itemLabel="valoraciones"
  emptyMessage="No hay valoraciones que coincidan con la búsqueda."
  searchPlaceholder="Buscar valoraciones..."
  [searchFields]="searchFields"
  initialSearchField="user"
  [isLoading]="isLoading"
  [canCreate]="isAdmin"
  createLabel="Nueva valoración"
  [visibleItems]="valoraciones.length"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  (queryChange)="queryChange.emit($event)"
  (createNew)="createNew.emit()"
>
  <div adminListHeader class="valoraciones-list__grid valoraciones-list__header">
    <span>Usuario</span>
    <span>Libro</span>
    <span>Puntuación</span>
    <span>ID de MongoDB</span>
    <span>Estado administrativo</span>
    <span class="valoraciones-list__actions-heading">Acciones</span>
  </div>

  <div adminListRows>
    <article
      *ngFor="let valoracion of valoraciones; trackBy: trackByValoracionId"
      class="valoraciones-list__grid valoraciones-list__row"
      [class.valoraciones-list__row--selected]="valoracion._id === selectedId"
      [class.valoraciones-list__row--deleted]="valoracion.IsDeleted"
      tabindex="0"
      role="button"
      (click)="onSelect(valoracion)"
      (keydown)="onRowKeydown($event, valoracion)"
    >
      <strong class="valoraciones-list__user">{{ user(valoracion.usuarioAutor) }}</strong>
      <span class="valoraciones-list__cell" data-label="Libro">
        {{ book(valoracion.libro) }}
      </span>
      <span class="valoraciones-list__rating" data-label="Puntuación">
        {{ valoracion.puntuacion }} / 5
      </span>
      <code class="valoraciones-list__id" data-label="ID">{{ valoracion._id || '-' }}</code>
      <span
        class="valoraciones-list__status"
        [class.valoraciones-list__status--deleted]="valoracion.IsDeleted"
      >
        {{ valoracion.IsDeleted ? 'Desactivada' : 'Activa' }}
      </span>
      <button
        *ngIf="isAdmin"
        type="button"
        class="valoraciones-list__delete"
        title="Eliminar valoración definitivamente"
        aria-label="Eliminar valoración definitivamente"
        (click)="onPermanentDelete($event, valoracion)"
      >
        Eliminar
      </button>
    </article>
  </div>
</app-admin-list>
