<div class="row">
  <tr>
    <th class="cell">_id</th>
    <th class="cell">description</th>
    <th class="cell">status</th>
    <th class="cell">image</th>
    <th class="cell">IsDeleted</th>
    <th class="cell">ownerId</th>
    <th class="cell">Price</th>
    <th class="cell">Book title</th>
    <th class="cell">Actions</th>
  </tr>
  <tr>
    <td class="cell">{{ data()!._id }}</td>
    <td class="cell">
      @if (!editMode()) {
        {{ data()!.description }}
      } @else {
        <input type="text" [(ngModel)]="description" />
      }
    </td>
    <td class="cell">
      @if (!editMode()) {
        {{ data()!.status }}
      } @else {
        <input type="text" [(ngModel)]="status" />
      }
    </td>
    <td class="cell">
      @if (!editMode()) {
        {{ data()!.imageUrl }}
      } @else {
        <input type="text" [(ngModel)]="image" />
      }
    </td>
    <td class="cell">{{ data()!.IsDeleted }}</td>
    <td class="cell">
      @if (!editMode()) {
        {{ data()!.ownerId }}
      } @else {
        <input type="text" [(ngModel)]="ownerId" />
      }
    </td>
    <td class="cell">
      @if (!editMode()) {
        {{ data()!.price }}
      } @else {
        <input type="text" [(ngModel)]="price" />
      }
    <td class="cell">{{ data()!.bookId.title }}</td>
    <td class="cell">
      <button class="primary-btn" (click)="onEditBtnClick(data()!._id)">Editar</button>
      <button class="primary-btn" (click)="onDeleteBtnClick(data()!._id)">Eliminar</button>
    </td>
  </tr>
</div>
